EventLogger/NiFi Template/EventLogger-Hbase-Nifi-SolrSharded.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>EventLogger-Hbase-Nifi-SolrSharded</name><snippet><connections><id>08275dd4-8778-4fa7-8525-29119505af4e</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>766.0</x><y>208.0</y></bends><destination><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>9f3c5966-40ec-4e3e-9cd2-baa31fbd91ad</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>19e2045f-fd5b-4b33-a8e3-f6ffc8f1e7f3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a009857b-15e8-4e1f-9972-97326fb47832</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>766.0</x><y>93.0</y></bends><destination><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>19e2045f-fd5b-4b33-a8e3-f6ffc8f1e7f3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>4f9f1626-6d46-430c-b080-e80e3206db29</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>20e445af-f491-47ff-abf9-597f07e675b2</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1216.0561209583227</x><y>531.6967541965967</y></bends><bends><x>1258.4945068359375</x><y>588.2543334960938</y></bends><destination><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>0c2f96b5-e705-4383-b23c-36a4d7da9942</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>connection_failure</selectedRelationships><selectedRelationships>failure</selectedRelationships><source><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>0c2f96b5-e705-4383-b23c-36a4d7da9942</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5ea50550-6aa3-4e51-bcd3-a910f89cdbcd</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>467.53399658203125</x><y>658.4309692382812</y></bends><bends><x>413.545166015625</x><y>707.8250122070312</y></bends><destination><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>6330dba8-d9c8-4392-aa96-ca8f00e3279c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>6330dba8-d9c8-4392-aa96-ca8f00e3279c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>379a6825-8556-4e04-b19e-511c0686d707</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>0c2f96b5-e705-4383-b23c-36a4d7da9942</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>9f3c5966-40ec-4e3e-9cd2-baa31fbd91ad</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>13c9eb62-d474-477f-9bd1-87d4329ff21c</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>409.55999755859375</x><y>424.16339111328125</y></bends><destination><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>6330dba8-d9c8-4392-aa96-ca8f00e3279c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>9f3c5966-40ec-4e3e-9cd2-baa31fbd91ad</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>93acf89e-68b8-4676-b9e5-ebd0fb1b5021</id><comments></comments><descriptors><entry><key>Hadoop Configuration Files</key><value><description>Comma-separated list of Hadoop Configuration files, such as hbase-site.xml, including full paths to the files.</description><displayName>Hadoop Configuration Files</displayName><dynamic>false</dynamic><name>Hadoop Configuration Files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Quorum</key><value><description>Comma-separated list of ZooKeeper hosts for HBase. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Quorum</displayName><dynamic>false</dynamic><name>ZooKeeper Quorum</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Client Port</key><value><description>The port on which ZooKeeper is accepting client connections. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Client Port</displayName><dynamic>false</dynamic><name>ZooKeeper Client Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper ZNode Parent</key><value><description>The ZooKeeper ZNode Parent value for HBase (example: /hbase). Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper ZNode Parent</displayName><dynamic>false</dynamic><name>ZooKeeper ZNode Parent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HBase Client Retries</key><value><defaultValue>1</defaultValue><description>The number of times the HBase client will retry connecting. Required if Hadoop Configuration Files are not provided.</description><displayName>HBase Client Retries</displayName><dynamic>false</dynamic><name>HBase Client Retries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>HBase_1_1_2_ClientService</name><properties><entry><key>Hadoop Configuration Files</key></entry><entry><key>ZooKeeper Quorum</key><value>localhost</value></entry><entry><key>ZooKeeper Client Port</key><value>2181</value></entry><entry><key>ZooKeeper ZNode Parent</key><value>/hbase</value></entry><entry><key>HBase Client Retries</key><value>1</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>93acf89e-68b8-4676-b9e5-ebd0fb1b5021</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>80b30149-52e1-4428-98eb-f408dc08a7cf</groupId><id>6330dba8-d9c8-4392-aa96-ca8f00e3279c</id><name>PutHBaseJSON</name><properties><entry><key>HBase Client Service</key><value>93acf89e-68b8-4676-b9e5-ebd0fb1b5021</value></entry><entry><key>Table Name</key><value>syslog</value></entry><entry><key>Row Identifier</key></entry><entry><key>Row Identifier Field Name</key><value>id</value></entry><entry><key>Column Family</key><value>msg</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.hbase.PutHBaseJSON</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type></controllerServices><processors><id>4f9f1626-6d46-430c-b080-e80e3206db29</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><position><x>326.0</x><y>23.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Protocol</key><value><allowableValues><displayName>TCP</displayName><value>TCP</value></allowableValues><allowableValues><displayName>UDP</displayName><value>UDP</value></allowableValues><defaultValue>UDP</defaultValue><description>The protocol for Syslog communication, either TCP or UDP.</description><displayName>Protocol</displayName><dynamic>false</dynamic><name>Protocol</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Port</key><value><description>The port for Syslog communication.</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context. If this property is set, syslog messages will be received over a secure connection.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Receive Buffer Size</key><value><defaultValue>65507 B</defaultValue><description>The size of each buffer used to receive Syslog messages. Adjust this value appropriately based on the expected size of the incoming Syslog messages. When UDP is selected each buffer will hold one Syslog message. When TCP is selected messages are read from an incoming connection until the buffer is full, or the connection is closed. </description><displayName>Receive Buffer Size</displayName><dynamic>false</dynamic><name>Receive Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Size of Socket Buffer</key><value><defaultValue>1 MB</defaultValue><description>The maximum size of the socket buffer that should be used. This is a suggestion to the Operating System to indicate how big the socket buffer should be. If this value is set too low, the buffer may fill up before the data can be read, and incoming data will be dropped.</description><displayName>Max Size of Socket Buffer</displayName><dynamic>false</dynamic><name>Max Size of Socket Buffer</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Number of TCP Connections</key><value><defaultValue>2</defaultValue><description>The maximum number of concurrent connections to accept Syslog messages in TCP mode.</description><displayName>Max Number of TCP Connections</displayName><dynamic>false</dynamic><name>Max Number of TCP Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Batch Size</key><value><defaultValue>1</defaultValue><description>The maximum number of Syslog events to add to a single FlowFile. If multiple events are available, they will be concatenated along with the &lt;Message Delimiter&gt; up to this configured maximum number of messages</description><displayName>Max Batch Size</displayName><dynamic>false</dynamic><name>Max Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><defaultValue>\n</defaultValue><description>Specifies the delimiter to place between Syslog messages when multiple messages are bundled together (see &lt;Max Batch Size&gt; property).</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Parse Messages</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates if the processor should parse the Syslog messages. If set to false, each outgoing FlowFile will only contain the sender, protocol, and port, and no additional attributes.</description><displayName>Parse Messages</displayName><dynamic>false</dynamic><name>Parse Messages</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set of the Syslog messages</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Protocol</key><value>UDP</value></entry><entry><key>Port</key><value>7780</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Receive Buffer Size</key><value>65507 B</value></entry><entry><key>Max Size of Socket Buffer</key><value>1 MB</value></entry><entry><key>Max Number of TCP Connections</key><value>2</value></entry><entry><key>Max Batch Size</key><value>1</value></entry><entry><key>Message Delimiter</key><value>\n</value></entry><entry><key>Parse Messages</key><value>true</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListenSyslog</name><relationships><autoTerminate>true</autoTerminate><description>Syslog messages that do not match one of the expected formats will be sent out this relationship as a FlowFile per message.</description><name>invalid</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Syslog messages that match one of the expected formats will be sent out this relationship as a FlowFile per message.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenSyslog</type></processors><processors><id>0c2f96b5-e705-4383-b23c-36a4d7da9942</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><position><x>807.0561209583227</x><y>506.69675419659666</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Solr Type</key><value><allowableValues><description>A SolrCloud instance.</description><displayName>Cloud</displayName><value>Cloud</value></allowableValues><allowableValues><description>A stand-alone Solr instance.</description><displayName>Standard</displayName><value>Standard</value></allowableValues><defaultValue>Standard</defaultValue><description>The type of Solr instance, Cloud or Standard.</description><displayName>Solr Type</displayName><dynamic>false</dynamic><name>Solr Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Location</key><value><description>The Solr url for a Solr Type of Standard (ex: http://localhost:8984/solr/gettingstarted), or the ZooKeeper hosts for a Solr Type of Cloud (ex: localhost:9983).</description><displayName>Solr Location</displayName><dynamic>false</dynamic><name>Solr Location</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Collection</key><value><description>The Solr collection name, only used with a Solr Type of Cloud</description><displayName>Collection</displayName><dynamic>false</dynamic><name>Collection</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content Stream Path</key><value><defaultValue>/update/json/docs</defaultValue><description>The path in Solr to post the ContentStream</description><displayName>Content Stream Path</displayName><dynamic>false</dynamic><name>Content Stream Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content-Type</key><value><defaultValue>application/json</defaultValue><description>Content-Type being sent to Solr</description><displayName>Content-Type</displayName><dynamic>false</dynamic><name>Content-Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Commit Within</key><value><description>The number of milliseconds before the given update is committed</description><displayName>Commit Within</displayName><dynamic>false</dynamic><name>Commit Within</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Solr Type</key><value>Cloud</value></entry><entry><key>Solr Location</key><value>192.168.0.8:2181,192.168.0.12:2181,192.168.0.16:2181/solr</value></entry><entry><key>Collection</key><value>syslog</value></entry><entry><key>Content Stream Path</key><value>/update/json/docs</value></entry><entry><key>Content-Type</key><value>application/json</value></entry><entry><key>Commit Within</key><value>5000</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutSolrContentStream</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that failed because Solr is unreachable</description><name>connection_failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that failed for any reason other than Solr being unreachable</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.solr.PutSolrContentStream</type></processors><processors><id>19e2045f-fd5b-4b33-a8e3-f6ffc8f1e7f3</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><position><x>330.0</x><y>139.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>agent</key><value><description></description><displayName>agent</displayName><dynamic>true</dynamic><name>agent</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>com_mode</key><value><description></description><displayName>com_mode</displayName><dynamic>true</dynamic><name>com_mode</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>counts</key><value><description></description><displayName>counts</displayName><dynamic>true</dynamic><name>counts</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time</key><value><description></description><displayName>date_time</displayName><dynamic>true</dynamic><name>date_time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time_10min</key><value><description></description><displayName>date_time_10min</displayName><dynamic>true</dynamic><name>date_time_10min</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time_10sec</key><value><description></description><displayName>date_time_10sec</displayName><dynamic>true</dynamic><name>date_time_10sec</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time_12h</key><value><description></description><displayName>date_time_12h</displayName><dynamic>true</dynamic><name>date_time_12h</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time_1d</key><value><description></description><displayName>date_time_1d</displayName><dynamic>true</dynamic><name>date_time_1d</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time_1h</key><value><description></description><displayName>date_time_1h</displayName><dynamic>true</dynamic><name>date_time_1h</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time_1min</key><value><description></description><displayName>date_time_1min</displayName><dynamic>true</dynamic><name>date_time_1min</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>date_time_1sec</key><value><description></description><displayName>date_time_1sec</displayName><dynamic>true</dynamic><name>date_time_1sec</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>id</key><value><description></description><displayName>id</displayName><dynamic>true</dynamic><name>id</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>ip_ext</key><value><description></description><displayName>ip_ext</displayName><dynamic>true</dynamic><name>ip_ext</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>ip_local</key><value><description></description><displayName>ip_local</displayName><dynamic>true</dynamic><name>ip_local</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>lang</key><value><description></description><displayName>lang</displayName><dynamic>true</dynamic><name>lang</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>lat</key><value><description></description><displayName>lat</displayName><dynamic>true</dynamic><name>lat</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>lon</key><value><description></description><displayName>lon</displayName><dynamic>true</dynamic><name>lon</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>lon_lat</key><value><description></description><displayName>lon_lat</displayName><dynamic>true</dynamic><name>lon_lat</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>message</key><value><description></description><displayName>message</displayName><dynamic>true</dynamic><name>message</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>motivation</key><value><description></description><displayName>motivation</displayName><dynamic>true</dynamic><name>motivation</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>payload</key><value><description></description><displayName>payload</displayName><dynamic>true</dynamic><name>payload</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>pid_local</key><value><description></description><displayName>pid_local</displayName><dynamic>true</dynamic><name>pid_local</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>service_scope</key><value><description></description><displayName>service_scope</displayName><dynamic>true</dynamic><name>service_scope</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>service_uri</key><value><description></description><displayName>service_uri</displayName><dynamic>true</dynamic><name>service_uri</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key><value>syslog.*</value></entry><entry><key>agent</key><value>${syslog.body:substringAfter(&quot;AGENT = &quot;):substringBefore(&quot;, MOTIVATION&quot;)}</value></entry><entry><key>com_mode</key><value>${syslog.body:substringAfter(&quot;MOD-COM = &quot;):substringBefore(&quot;, IP-LOCAL&quot;)}</value></entry><entry><key>counts</key><value>${syslog.body:substringAfter(&quot;COUNTS = &quot;):substringBefore(&quot;;&quot;)}</value></entry><entry><key>date_time</key><value>${syslog.body:substringAfter(&quot;DATE-TIME = &quot;):substringBefore(&quot;, DATE-TIME-1SEC&quot;)}</value></entry><entry><key>date_time_10min</key><value>${syslog.body:substringAfter(&quot;DATE-TIME-10MIN = &quot;):substringBefore(&quot;, DATE-TIME-1H&quot;)}</value></entry><entry><key>date_time_10sec</key><value>${syslog.body:substringAfter(&quot;DATE-TIME-10SEC = &quot;):substringBefore(&quot;, DATE-TIME-1MIN&quot;)}</value></entry><entry><key>date_time_12h</key><value>${syslog.body:substringAfter(&quot;DATE-TIME-12H = &quot;):substringBefore(&quot;, DATE-TIME-1D&quot;)}</value></entry><entry><key>date_time_1d</key><value>${syslog.body:substringAfter(&quot;DATE-TIME-1D = &quot;):substringBefore(&quot;, LONG-LAT-FOR-MAP&quot;)}</value></entry><entry><key>date_time_1h</key><value>${syslog.body:substringAfter(&quot;DATE-TIME-1H = &quot;):substringBefore(&quot;, DATE-TIME-12H&quot;)}</value></entry><entry><key>date_time_1min</key><value>${syslog.body:substringAfter(&quot;DATE-TIME-1MIN = &quot;):substringBefore(&quot;, DATE-TIME-10MIN&quot;)}</value></entry><entry><key>date_time_1sec</key><value>${syslog.body:substringAfter(&quot;DATE-TIME-1SEC = &quot;):substringBefore(&quot;, DATE-TIME-10SEC&quot;)}</value></entry><entry><key>id</key><value>${syslog.timestamp:toDate('MMM d HH:mm:ss'):toNumber()}_${uuid}</value></entry><entry><key>ip_ext</key><value>${syslog.body:substringAfter(&quot;IP-EXT = &quot;):substringBefore(&quot;, PAYLOAD&quot;)}</value></entry><entry><key>ip_local</key><value>${syslog.body:substringAfter(&quot;IP-LOCAL = &quot;):substringBefore(&quot;, IP-EXT&quot;)}</value></entry><entry><key>lang</key><value>${syslog.body:substringAfter(&quot;LANG = &quot;):substringBefore(&quot;, LAT&quot;)}</value></entry><entry><key>lat</key><value>${syslog.body:substringAfter(&quot;LAT = &quot;):substringBefore(&quot;, LON&quot;)}</value></entry><entry><key>lon</key><value>${syslog.body:substringAfter(&quot;LON = &quot;):substringBefore(&quot;, SERVICE-URI&quot;)}</value></entry><entry><key>lon_lat</key><value>${syslog.body:substringAfter(&quot;LONG-LAT-FOR-MAP = &quot;):substringBefore(&quot;, SERVICE-SCOPE&quot;)}</value></entry><entry><key>message</key><value>${syslog.body:substringAfter(&quot;MESSAGE = &quot;):substringBefore(&quot;, DATE-TIME&quot;)}</value></entry><entry><key>motivation</key><value>${syslog.body:substringAfter(&quot;MOTIVATION = &quot;):substringBefore(&quot;, LANG&quot;)}</value></entry><entry><key>payload</key><value>${syslog.body:substringAfter(&quot;PAYLOAD = &quot;):substringBefore(&quot;, AGENT&quot;)}</value></entry><entry><key>pid_local</key><value>${syslog.body:substringAfter(&quot;PID = &quot;):substringBefore(&quot;, PID-EXT&quot;)}</value></entry><entry><key>service_scope</key><value>${syslog.body:substringAfter(&quot;SERVICE-SCOPE = &quot;):substringBefore(&quot;, COUNTS&quot;)}</value></entry><entry><key>service_uri</key><value>${syslog.body:substringAfter(&quot;SERVICE-URI = &quot;):substringBefore(&quot;, MESSAGE&quot;)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>6330dba8-d9c8-4392-aa96-ca8f00e3279c</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><position><x>320.4928436279297</x><y>513.45751953125</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>93acf89e-68b8-4676-b9e5-ebd0fb1b5021</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>93acf89e-68b8-4676-b9e5-ebd0fb1b5021</value></entry><entry><key>Table Name</key><value>syslog</value></entry><entry><key>Row Identifier</key></entry><entry><key>Row Identifier Field Name</key><value>id</value></entry><entry><key>Column Family</key><value>msg</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHBaseJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseJSON</type></processors><processors><id>9f3c5966-40ec-4e3e-9cd2-baa31fbd91ad</id><parentGroupId>80b30149-52e1-4428-98eb-f408dc08a7cf</parentGroupId><position><x>327.0</x><y>257.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attributes List</key><value><description>Comma separated list of attributes to be included in the resulting JSON. If this value is left empty then all existing Attributes will be included. This list of attributes is case sensitive. If an attribute specified in the list is not found it will be be emitted to the resulting JSON with an empty string or NULL value.</description><displayName>Attributes List</displayName><dynamic>false</dynamic><name>Attributes List</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if JSON value is written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Core Attributes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines if the FlowFile org.apache.nifi.flowfile.attributes.CoreAttributes which are contained in every FlowFile should be included in the final JSON value generated.</description><displayName>Include Core Attributes</displayName><dynamic>false</dynamic><name>Include Core Attributes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true a non existing or empty attribute will be NULL in the resulting JSON. If false an empty string will be placed in the JSON</description><displayName>Null Value</displayName><dynamic>false</dynamic><name>Null Value</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attributes List</key></entry><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Include Core Attributes</key><value>false</value></entry><entry><key>Null Value</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>AttributesToJSON</name><relationships><autoTerminate>true</autoTerminate><description>Failed to convert attributes to JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted attributes to JSON</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.AttributesToJSON</type></processors></snippet><timestamp>03/02/2018 17:01:11 CET</timestamp></template>